@model CM_Video_Butik.Models.MergeModelCustMov



@{
    ViewBag.Title = "Rent/Return";
}

<h2> Rented movies by: @(Model.Customers.FirstName + " " + Model.Customers.LastName) </h2>

<p>
    @Html.ActionLink("Rent a new movie", "Rent", new { customerId = Model.Customers.CustomerID })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Genre")
        </th>
        <th>
            @Html.DisplayName("Quantity in Stock")
        </th>
    </tr>

    @if (Model.CustMoviesList != null)
    {
        foreach (var item in Model.CustMoviesList)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Genre
                </td>
                <td>
                    @(item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Return Movie", "ReturnMovie", new { CusMovID = item.CusMovID })
                </td>
            </tr>
        }
    }

</table>
