@model CM_Video_Butik.Models.MergeMovieRentedMovie

@{
    ViewBag.Title = "Rent";
}

<h2>Rent</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Genre")
        </th>
        <th>
            @Html.DisplayName("Movies in Stock")
        </th>
    </tr>

@if (Model.MoviesList != null)
{
    foreach (var item in Model.MoviesList)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @(item.QuantityTotalStock - item.QuantityRented)
        </td>
        
        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                if (Model.RentedMovieList.Any(x => x.CusMovID.StartsWith(item.MovieID.ToString())))
                {
                <div>Already Rented!</div>
                }

                else
                {
                    <div class="form-actions no-color">
                        <input type="submit" id="btnsub" value="Rent" class="btn btn-default" />
                        @Html.Hidden("customerId", ViewData["customerId"])
                        @Html.Hidden("movieId", item.MovieID)


                    </div>
                }


            }
        </td>
    </tr>
    }
}

</table>
<div>@Html.ActionLink("Back to Customer List","Index","Customer")</div>
